<h1>Todo list</h1>
<div (click)="toggleAlert = !toggleAlert" id="backdrop"></div>
<app-confirm [title]="'Supprimer la tache'" [msg]="'Voulez-vous supprimer cette tache ?'" [toggle]="toggleAlert"
    (callback)="responseAlert($event)"></app-confirm>
<div (click)="showModalCreateTask()" class="button-add-task">
    <button class="btn-primary">Create an task<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
            preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20">
            <path fill="currentColor" fill-rule="evenodd"
                d="M10 18a8 8 0 1 0 0-16a8 8 0 0 0 0 16Zm.75-11.25a.75.75 0 0 0-1.5 0v2.5h-2.5a.75.75 0 0 0 0 1.5h2.5v2.5a.75.75 0 0 0 1.5 0v-2.5h2.5a.75.75 0 0 0 0-1.5h-2.5v-2.5Z"
                clip-rule="evenodd" />
        </svg>
    </button>
</div>

<div *ngIf="toggleModal == true" class="container-modal">
    <div (click)="toggleModal = !toggleModal" id="backdrop"></div>
    <div class="modal">
        <div class="modal-top">
            <h3>{{createTask === true ? 'Create task ' : 'Modify task'}}</h3>
            <img (click)="toggleModal = !toggleModal" src="./../../../../assets/svg/close-rounded.svg" />

        </div>

        <form (ngSubmit)="onSubmit(createTask)" [formGroup]="taskForm" *ngIf="taskForm" class="container-form">
            <div>

                <div>
                    <label>Nom *</label>

                    <input [class.input-error]="taskForm.get('name')?.touched && taskForm.get('name')?.invalid"
                        type="text" formControlName="name">
                    <span *ngIf="taskForm.get('name')?.touched && taskForm.get('name')?.invalid" class="error">Nom
                        invalide</span>
                </div>

                <div>
                    <label>Description</label>
                    <input
                        [class.input-error]="taskForm.get('description')?.touched && taskForm.get('description')?.invalid"
                        type="text" formControlName="description">
                    <span *ngIf="taskForm.get('description')?.touched && taskForm.get('description')?.invalid"
                        class="error">Ce
                        champs est requis !</span>
                </div>
                <section class="confirm">
                    <div class="required-fields">
                        <p>* Champs obligatoires</p>
                    </div>
                    <input type="submit" value="Valider"
                        [ngClass]="taskForm.invalid ? 'unvalidate-form' : 'validate-form'"
                        [disabled]="taskForm.invalid">
                </section>


                <!-- <div class="required-fields">
                    <p>* Champs obligatoires</p>
                </div> -->
            </div>

        </form>

    </div>
</div>
<table class="isNotTable">
    <thead>
        <tr class="titre">
            <th>Name</th>
            <th>Description</th>

            <th>Actions</th>

        </tr>
    </thead>
    <tbody *ngFor="let task of tasksList['hydra:member']  ">
        <tr align="center">
            <td>{{task.name}}</td>

            <td>{{task.description}}</td>

            <td class="td_button"><button class="btn-primary" (click)="showModalUpdateTask(task)">Modifier</button>
                <button class="btn-danger"
                    (click)="toggleAlert = !toggleAlert; idCurrentClickedTask = task.id">Supprimer</button>
            </td>
        </tr>
    </tbody>

</table>