$bg-body: #edf1f7;
$bg-navbar: #23243c;
$call-to-action: #595ff1;
$title-color: #565A90;
$text-color: #6d72b5;
$new-color: #007eff;
$pending-color: #8676ff;
$sold-color: #21a326;
$close-color: #7e7f92c4;